.message-user {
    background-color: #d1e7dd;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: right;
}

.message-ai {
    background-color: #cff4fc;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: left;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}
